<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>{{company_name }}<span>.</span></h3>
            <p>
              {{ company_location }}<br><br>
              <strong>Phone:</strong> {{ company_phone }}<br>
              <strong>Email:</strong> {{ company_email }}<br>
            </p>
            
            {% if company_social %}
            <div class="social-links mt-3">
              
              {% for media in company_social %}
                <a href="{{ media.url }}" class="{{ media.slug }}"><i class="bx bxl-{{ media.slug }}"></i></a>
              {% endfor %}
      
            </div>  
            {% endif %}
              
            
          </div>
        </div>
        
        {% if company_services %}
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            
            {% for item in company_services %}
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{ item.service }}</a></li>
            {% endfor %}
          
          </ul>
        </div>
        {% endif %}
          
        

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Slogan</h4>
          <p style='font-family: Abril Fatface'><strong>{{company_slogan}}</strong></p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>{{ company_name }}</span></strong>. All Rights Reserved
    </div>
    
  </div>
</footer>