<section class="team" id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Team</h2>
            <p>Check our team</p>
        </div>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            {% for employee in employees %}
            <div class="col-lg-3 col-md-6 align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="{{ employee.image.url }}" alt="" class="img-fluid">
                            <div class="social">
                                {% for social in employee.user.socialmedias.all %}
                                    <a href="{{ social.url }}"><i class="bi bi-{{ social.slug }}"></i></a> 
                                {% endfor %}
                            </div>  
                        </div>
                        <div class="member-info">
                            <h4><a href="{% url 'teamtrack:profile' id=employee.user.id %}"><i class="bi bi-person-lines-fill"></i> {{employee.user.get_full_name}}</a></h4>
                            <span>{{employee.position}}</span>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>