<section class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>{{ contact.location }}</p>
                    </div>

                    <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>{{ contact.user.email }}</p>
                    </div>

                    <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>{{ contact.phone_number }}</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
                <form action="{% url 'main:proccess_message' %}" method="POST" class="email-form">
                    {% csrf_token %}
                    {{ messageForm.as_p }}
                    <div class="my-3">
                        <div class="error_message">{{ form.non_field_errors }}</div>
                        <div class="sent-message">{{ success_message }}</div>
                    </div>
                    <div class="text_center">
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </div>
                </form>
                

            </div>

        </div>
    </div>    
</section>