{% if testimonials %}
{% load static %}
<section class="testimonials">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            
            {% for testimony in testimonials %}
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                        <h3>{{ testimony.user.username }}</h3>
                        <h4>{{ testimony.user_position }}</h4>

                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ testimony.opinion }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            {% endfor %}
                


        </div>
    </div>
</section>    
{% endif %}