<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Welcome to {{ inf_company.name }}<span>.</span></h1>
          <h2>We sculpt bespoke solutions, crafting a tailored path harmonizing with the essence of your business ambtions... #CodePassionately</h2>
        </div>
      </div>

      {% block optionHero %}
      {% endblock optionHero %}

    </div>
  </section>