{% load static %}
<section id="about">
    <div class="container" data-aos='fade-up'>

        <div class="section-title">
            <h2>About us</h2>
            <p>Who we are?</p>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-1 content" data-aos="fade-left" data-aos-delay="100">
                <p class="fst-italic">
                    Our mission is to turn your digital dreams into reality.
                </p>
                <p class="fst-align">
                    We are a passionate team of tech enthusiasts dedicated to 
                    making your online dreams a reality. We specialize in crafting beautiful, functional, 
                    and user-friendly websites and applications. Our mission is to provide top-notch web 
                    solutions that not only meet but exceed your expectations.
                </p>
                <h3>What Sets Us Apart</h3>
                <p class="fst-italic">
                    "The only way to do great work is to love that you do." - Steve Jobs
                </p>
                <p>
                    <strong>Passion for Innovation:</strong> We love what we do! Our team is fueled by a genuine passion 
                    for innovation and a commitment to staying at the forefront of technology trends. We believe in creating 
                    digital experiences that not only meet current standards but set new ones.
                    <br>
                    <strong>Tailored Solutions:</strong> Every project is unique, and we understand that. Whether you’re an 
                    individual looking for a personal blog, a small business aiming for an online presence, or an enterprise 
                    in need of a robust web application, we tailor our solutions to suit your specific needs and goals.
                    <br>
                    <strong>User-Friendly Approach:</strong> Code may be our language, but we speak human too! We believe in 
                    demystifying the complexities of web development for our clients. No jargon, just clear communication and 
                    user-friendly interfaces that make navigating your online space a breeze.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 " data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>    
    </div>
</section>