{% extends 'master.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block url_about %}active{% endblock url_about %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html' with title='About Us' %}
{% endblock breadcrumbs %}

{% block content %}
    
    {% include "about_templates/company.html" %}
    
    {% include "about_templates/skills.html" with skills=skills_company %}
    
    {% include "about_templates/portfolio.html" %}

    {% include "about_templates/team.html" %}

{% endblock content %}
    